* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    padding-top: 5rem;
    background: rgb(2,0,36);
    color: white;
    text-align: center;
}

h1 {
    font-size: 36px;
}

.lengthSection {
    margin: 2rem 0 1rem 0;
    font-size: 20px;
}

.lengthInput {
    width: 50px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
}

#password {
    width: 90%;
    margin-bottom: 2rem;
    height: 36px;
    font-size: 24px;
    border-radius: 8px;
    padding: 0 10px;
}

button {
    min-width: 250px;
    min-height: 36px;
    font-size: 24px;
    border-radius: 8px;
    margin: 1rem 1rem;
    cursor: pointer;
}

.btn-secondary {
    color: white;
    border: white solid 1px;
    background-color: transparent;
}

.checkboxes-section {
    margin-bottom: 2rem;
}

input[type=checkbox]
{
  transform: scale(1.5);
  padding: 10px;
  margin: 0 1rem;
}

label {
    font-size: 24px;
}

.control {
    padding: 0 1rem;
}

@media (min-width: 768px){

    .container {
        padding: 2rem;
        padding-top: 10rem;
    }

    #password {
        width: 40%;
    }
}
